body {
	background-color: grey;
	margin: auto;
	padding-top: 50px;
	max-width: 960px;
	width: 70%
}

.banner {
	height: 100px;
	background: url(samueljackson.jpg);
	max-width: 960px;
}

.nav-bar {
	height: 4.5vh;
    background-color: red;
    line-height: 30px;
    max-width: 960px;
    text-align: center;
    margin: 0;
	vertical-align: middle;
}
nav li {
	display: inline-block;

}

.list-pad {
	padding-right: 10%;

}

.color {
	text-decoration: none;
	color: white;
}

.first-paragraph {
	text-align: center;
}

.alt-paragraphs {
	padding-top: 25px;
	text-align: center;
}

.sam-large {
	float: left;
	padding-left: 2px;
	padding-top: 10px;
}

.plain-image {
	display: inline;
	padding-left: 25px;
}

.gallery {
	text-align: center;
}

@media(max-width: 760px) {
	.plain-image {
		display: block;
		padding-bottom: 10px;
		width: 100%;
	}
	.nav-bar li {
		display: block;
		text-align: center;
	}
	.nav-bar {
		padding-bottom: 20vh;
	}
	.sam-large {
		padding-top: 4vh;
	}
	.first-paragraph {
		padding-top: 10.5vh;
	}
}